<p>Please login using the form below</p>
<form id="static-form" method="POST" action="/login">
    <div>
        <label>Username:
            <input type="text" id="login-username" placeholder="username" name="username">
        </label>
    </div>
    <div>
        <label>Password:
            <input type="password" id="login-password" placeholder="password" name="password">
        </label>
    </div>
    <div>
        <input type="submit">
    </div>
</form>
{{#if error}}
<div id="error-container">
    <div>Error: </div>
    <div>
        {{error}}
    </div>
</div>
{{/if}}

<p>Please signup using the form below</p>
<form id="static-form" method="POST" action="/signup">
    <div>
        <label>Username:
            <input type="text" id="signup-username" placeholder="username" name="username">
        </label>
    </div>
    <div>
        <label>Password:
            <input type="password" id="signup-password" placeholder="password" name="password">
        </label>
    </div>
    <div>
        <input type="submit">
    </div>
</form>