<section class="login-section">
<div class="form">

<form id="login-form" method="POST" action="/login">
    <h2>Login</h2>
    <div>
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" placeholder="username" name="username">
    </div>
    <div>
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" placeholder="password" name="password">
    </div>
    <div>
        <input class="submit-button" type="submit" value="LOGIN">
    </div>
    {{#if error}}
    <div id="error-container">
        <div>Error: </div>
        <div>
            {{error}}
        </div>
    </div>
    {{/if}}
    <p class="message">Don't have a login? <a href="#">Create an account</a></p>
</form>



<form id="signup-form" method="POST" action="/signup">
    <h2>Sign up</h2>
    <div>
        <label for="signup-username">Username:</label>
        <input type="text" id="signup-username" placeholder="username" name="username">
    </div>
    <div>
        <label for="signup-password">Password:</label>
        <input type="password" id="signup-password" placeholder="password" name="password">
    </div>
    <div>
        <input class="submit-button" type="submit" value="SIGN UP">
    </div>
    <p class="message">Have an account? <a href="#">Login</a></p>
    {{#if signup_error}}
        <div id="error-container">
            <div>Error: </div>
            <div>
                {{signup_error}}
            </div>
        </div>
    {{/if}}
</form>


</div>
</section>

<script>
    $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
    if(window.location.hash){
        $('form').animate({height: "toggle", opacity: "toggle"}, 0);
    }
</script>