<div>Please login using the form below</div>
<form id="static-form" method="POST" action="/login">
    <label>Username:
    <input type="text" id="username" placeholder="username" name="username">
    </label>
    <label>Password:
        <input type="password" id="password" placeholder="password" name="password">
    </label>
    <input type="submit">
</form>
{{#if error}}
<div id="error-container">
    <div>Error: </div>
    <div>
        {{error}}
    </div>
</div>
{{/if}}
