h1 {
	color: darkgreen;
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 120px;
	font-weight: 900;
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}


h2 { 
	color: #110; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 20px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 0 72px; 
	text-align: center; 
}


p {
	color: #685205;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 24px;
	text-align: justify;
	text-justify: inter-word;
}

#home {
	list-style-type: none;
    margin: 0;
    padding: 0;
}