<div>
    <h2>Media List</h2>
    <p id="listOfMedia"></p>
    <form method="post">
        <h3>Add Media to List</h3>
        <div>
            <label for="mediaTitle">Title</label>
            <input id="mediaTitle" type="text" placeholder="title of media"/>
        </div>
        <div>
            <label for="mediaType">Type of Media</label>
            <input id="mediaType" type="text" placeholder="type of media"/>
        </div>
        <div>
            <label for="numEpisodes">Number of Episodes</label>
            <input id="numEpisodes" type="number" placeholder="number of Episodes"/>
        </div>
        <div>
            <label for="refLink">Reference Link</label>
            <input id="refLink" type="url" placeholder="link to imdb"/>
        </div>
    </form>
</div>