<div>
    <h2>Create new Group</h2>
    <form action="/newMedialist" method="post">
        <div>
            <label for="newGroup">Group Name:</label>
            <input id="newGroup" type="text" name="groupName"/>
        </div>
        {{!--<div>
            <h3>First Media</h3>
            <label>Starting Media:</label>
            <input type="text" name="startMedia"/>
        </div>--}}
    </form>

    <p id="listOfMediaLists"></p>
</div>
