<div>
    <h2>Create new Group</h2>
    <form action="/medialist/create" method="POST">
        <div>
            <label>Group Name:
                <input type="text" id="group-name" placeholder="Group Name" name="group_name">
            </label>
        </div>
        <input type="submit">
    </form>

    <div>
        <p>Welcome, {{username}}!</p>
        {{!-- {#list mediaList}}{{_id}} --}}
    </div>
</div>
