<div>
    <h2>Create new Group</h2>
    <form action="/newMedialist" method="post">
        <div>
            <label for="newGroup">Group Name:</label>
            <input id="newGroup" type="text" name="groupName"/>
        </div>
        <input type="submit">
    </form>

    <div>
        <p>{{username}}></p>
        {{#list mediaList}}{{_id}}{{/list}}
    </div>
</div>
