<div>
    <h2>Create new Group</h2>
    <form action="/medialist/create" method="POST">
        <div>
            <label>Group Name:
                <input type="text" id="group-name" placeholder="Group Name" name="group_name">
            </label>
        </div>
        <input type="submit">
    </form>

    <div>
        <p>Welcome, {{username}}!</p>
        {{#if mediaList}}
            {{#list mediaList}}
                <a href="/medialist/{{_id}}">{{name}}</a>
            {{/list}}
        {{/if}}
    </div>
</div>
